body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
}

a {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    display: inline-block;
}

a:hover {
    background-color: #45a049;
}
