/*Stile des "Körpers" der Seite*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Kopf der Seite*/
header {
    background-color: #003366;
    color: #fff;
    padding: 20px 0;
}

/*Stile der Navigationsleiste*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.nav-links a:hover {
    color: #ff9900;
}

/*Stile des Kontaktformulares*/
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}

.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select {
    width: 575px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    height: 40px;
    font-size: 14px;
    width: 597px;
}

/*Stile der Buttons*/
.button-container {
    margin-top: 20px;
}

button {
    width: 48%;
    padding: 10px;
    background-color: #003366;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Pseudo-Klasse des Buttons*/
button:hover {
    background-color: #001a33;
}

/*Fußzeile*/
footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/*Die Social-Media-Links, die in der Fußzeile stehen*/
.social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.social-links li {
    margin-right: 10px;
}

.social-links img {
    width: 20px;
    height: 20px;
}
