/*"Körper" der Seite*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/*Kopf der Seite*/
header {
    background-color: #003366;
    color: #fff;
    padding: 20px 0;
}

/*Navigationsleiste*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/*Inhalt der Navigationsleiste*/
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.nav-links a:hover {
    color: #ff9900;
}

/*Der Container der Karte*/
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
}

.map-container iframe {
    width: 1500px;
    height: 700px;
}

/*Die Beschreibung zum Schwimmbad*/
.text-overlay {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: 750px;
}

.section-title {
    text-align: center;
    margin-top: 20px;
}

/*Fußzeile*/
footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/*Die Links in der Fußzeile*/
.social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.social-links li {
    margin-right: 10px;
}

.social-links img {
    width: 20px;
    height: 20px;
}
